*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #57068c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .logo img {
    height: 32px;
  }
  
  .logo span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    font-size: 1rem;
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
  }
  
.parent {
    width: 40%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 36px;
    color: rgb(29, 33, 37);
}

.item {
    margin-right: 4px;
    margin-left: 9px;
    width: 30.333%;
    float: left;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 23px;
    color:  rgb(29, 33, 37);
    border: 1px solid #dfdfdf;
    padding: 5px;
}

.item img {
    width: 100%;
    
}


.clear-fix {
    clear: both;
}

.item-parent .child {
    margin: auto;
    padding-inline: 50px;
}


