{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Courses</title>
  <link rel="stylesheet" href="{% static 'css/courses-style.css' %}">
</head>
<body>
    <section id="Navbar" >
        <nav class="navbar">
            <div class="logo">
              <img src="{% static 'images/OIP (1).jpg' %}" alt="NYU Logo" />
              <span>NYU</span>
            </div>
            <ul class="nav-links">
              <li><a href="home">Home</a></li>
              <li><a href="courses">My Courses</a></li>
              <li><a href="profile">Profile</a></li>
              <li><a href="home#events">Events</a></li>
              <li><a href="home#About">About</a></li>
              <li><a href="home#Complaints">Complaints & Suggestions</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </nav>
    </section>
    
    <section id="my-courses" style="padding-top: 70px;">

        <div class="parent">
            <h2>Welcome back, 200033242-Omar Ayman Abdelfattah<br>Abosree! 👋</h2>
            <h5>Course overview</h5>
           
        </div>
  
        <div class="item-parent" style="width: 100%;">
  
            <div class="child">
                <hr>
                <br>
             <div class="item">
                <img src="{% static 'images/Screenshot_1.png' %}" alt="mycourses">
                <br>
                <a href="courses_2">Spring 2025 - CS-352-3895<a>
                <p>Spring-2025</p>
                <br>
                <p>100% complete</p>
            </div>
  
            <div class="item">
                <img src="{% static 'images/Screenshot_1.png' %}" alt="course1-img">
                <br>
                <a href="courses_2">Spring 2025 - CS-352-3895<a>
                <p>Spring-2025</p>
                <br>
                <p>100% complete</p>
            </div>
  
            <div class="item">
                <img src="{% static 'images/Screenshot_1.png' %}" alt="course1-img">
                <br>
                <a href="courses_2">Spring 2025 - CS-352-3895<a>
                <p>Spring-2025</p>
                <br>
                <p>100% complete</p>
            </div>
            <div class="clear-fix"></div>
            </div>
  
            <div class="child">
              
                <br>
             <div class="item">
                <img src="{% static 'images/Screenshot_1.png' %}" alt="course1-img">
                <br>
                <a href="courses_2">Spring 2025 - CS-352-3895<a>
                <p>Spring-2025</p>
                <br>
                <p>100% complete</p>
            </div>
  
            <div class="item">
                <img src="{% static 'images/Screenshot_1.png' %}" alt="course1-img">
                <br>
                <a href="courses_2">Spring 2025 - CS-352-3895<a>
                <p>Spring-2025</p>
                <br>
                <p>100% complete</p>
            </div>
  
            <div class="item">
                <img src="{% static 'images/Screenshot_1.png' %}" alt="course1-img">
                <br>
                <a href="courses_2">Spring 2025 - CS-352-3895<a>
                <p>Spring-2025</p>
                <br>
                <p>100% complete</p>
            </div>
            <div class="clear-fix"></div>
            </div>
           
            <div class="child">
              
                <br>
             <div class="item">
                <img src="{% static 'images/Screenshot_1.png' %}" alt="course1-img">
                <br>
                <a href="courses_2">Spring 2025 - CS-352-3895<a>
                <p>Spring-2025</p>
                <br>
                <p>100% complete</p>
            </div>
  
            <div class="item">
                <img src="{% static 'images/Screenshot_1.png' %}" alt="course1-img">
                <br>
                <a href="courses_2">Spring 2025 - CS-352-3895<a>
                <p>Spring-2025</p>
                <br>
                <p>100% complete</p>
            </div>
  
            <div class="item">
                <img src="{% static 'images/Screenshot_1.png' %}" alt="course1-img">
                <br>
                <a href="courses_2">Spring 2025 - CS-352-3895<a>
                <p>Spring-2025</p>
                <br>
                <p>100% complete</p>
            </div>
            <div class="clear-fix"></div>
            </div>
  
        </div>
        
  
    </section> 

</body>
</html>